#root {
  max-width: 1280px;
  margin: 0 20px;

  text-align: left;
}
/* Base styles for dark mode */
:root {
  --text-color: #f0f0f0;
  --background-color: #121212;
  --paper-color: #2a2a2a;
  --border-color: #555;
  --shadow-color: rgba(255, 255, 255, 0.1);
  --button-background-color: #ffcc00;
  --button-hover-background-color: #ffdd55;
  --modal-background-color: #121212;
  --modal-overlay-color: rgba(0, 0, 0, 0.5);

  color: var(--text-color);
  background-color: var(--background-color);
}

/* Styles for light mode */
.light-mode {
  --text-color: #000;
  --background-color: #f8f4e8;
  --paper-color: #fefdf9;
  --border-color: #e6e0d5;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --button-background-color: #ffcc00;
  --button-hover-background-color: #ffdd55;
  --modal-background-color: #f0f0f0;
  --modal-overlay-color: rgba(0, 0, 0, 0.5);

  color: var(--text-color);
  background-color: var(--background-color);
}

.card {
  padding: 3em;
}

.notebook-entry-container {
  /*background-color: #3e3e3a;  Paper-like background */
  /*border: 1px solid #ccc;  Subtle border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--paper-color);
  border-radius: 5px;
  width:100%;
}

.help-button {
  padding: 4px;
  border-radius: 30px;
  min-width: 30px;
  min-height: 30px;
  margin-left: 5px;
}
.read-the-docs {
  color: #888;
}

.app-container {
  display: flex;

  justify-content: space-between;
  width: 100%;  
}

.top-bar {
  display: block;
  width: 100%;
}

.entry-area {
  width: 70%;
  min-width: 250px;
}
.entries {
    width: 70%; /* Adjust the width as needed */
    display: flex; /* Add flex display */
}

.sidebar {
  width: 30%; /* Adjust the width as needed */
  position: relative; /* Needed for absolute positioning of the button */
}

.notebook-entry {
  display: flex;
 
}

.entry-date {
  width: 100%; /* Adjust width as needed */
  font-size: 0.8em; /* Adjust the font size as needed */
  text-align: center; /* Center the text */
}

.entry-content {
  width: 100%; /* Adjust width as needed */
}

.diary-form {
  border: 1px solid #d3d3d3; /* Lighter gray border */
  padding: 10px; /* Optional: Add padding to create some space around the form */
  flex-grow: 1;
  border-color: var(--border-color);
}


/* Styling for form labels and inputs */
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%; /* Make the form-group full width of the notebook entry pane */
}

.form-group label {
  text-align: left;
  width: 30%; /* Adjust the width as needed */
  color: var(--text-color);
  padding-right: 10px; /* Add some spacing between label and input */
}
.form-group .input {
  text-align: right;
}

/* Add flex-grow to textareas to allow them to expand */
.form-group textarea {
  flex-grow: 1; /* Allow the textarea to take up available space */
  min-height: 100px; /* Optional: Set a minimum height for the textareas */
  resize: vertical; /* Optional: Allow the user to resize the textarea vertically */
  background-color: var(--paper-color);
}
.feedback-container {
  display: flex;
  width: 100%;
  gap: 10px; /* Space between the boxes */
}

.feedback-box {
  flex: 1; /* Each box takes up equal space */
  border: 1px solid #ccc; /* Nice border */
  padding: 10px;
  box-sizing: border-box; /* Include padding in width */border-color: var(--border-color);
  background-color: var(--paper-color);

}
.sidebar .selected {
  background-color: #2a2a2a;
}

/* Add diary button styles */

.add-diary-entry-button {
  background-color: #ffcc00; /* Bright yellow background */
  color: black; /* Black text color */
  border: none; /* Remove border */
  padding: 10px 15px; /* Smaller padding */
  font-size: 1em; /* Smaller font size */
  border-radius: 25px; /* Less rounded button */
  cursor: pointer; /* Change cursor to pointer */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for prominence */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover effect */
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-diary-entry-button:hover {
  background-color: #ffdd55; /* Slightly lighter yellow on hover */
  transform: scale(1.05); /* Slight scale up on hover */
}

.add-diary-entry-button,

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--modal-background-color);
  z-index: 1050; /* Higher z-index to ensure it's on top */
}


.camera-modal {
  max-height: 90vh;
  overflow-y: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-overlay-color);
  z-index: 1040;
}

.modal {
  width: 70%;
  font-size: 0.9em;
  max-height: 90vh;
}
  /* Mobile media queries */
  @media (max-width: 768px) {
    .app-container {
      flex-direction: column; /* Stack sidebar and form vertically */
    }
    .form-group {
      align-items: stretch; /* Stretch children to full width */
  }
  
    .sidebar {
      width: 100%; /* Full width on mobile */
      margin-bottom: 20px; /* Add some space below the sidebar */
      /*position: relative; Ensure proper positioning for the collapse button*/

    }

    .entry-area {
      width: 100%; /* Take full width */
    }
  
    .entries{
      width: 100%;
  }
    .sidebar-collapse-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }

    .diary-form {
      width: 100%;
    }
    .form-group{
      flex-direction: column;
      width: 100%;
    }
    .form-group label {
      width: 100%;
  }
  }

.theme-toggle-container {
  position: fixed;
  right:0px;
  top:1px;
  display: inline-block;
  width: 100px; /* Adjust width */
  height: 20px; /* Adjust height */


}
.theme-toggle-container label{padding:0;}
.dark-light-label{
  margin: 2px;
  padding: none;
  display: inline-block;
  font-size: small;
  position: fixed;
  width: fit-content;

}
/* Hide the default checkbox */
.theme-toggle-container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Style the span that acts as the slider */
  .theme-toggle-container span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: var(--secondary-color); /* Off state color */
    border-radius: 30px;
    width: 40px;
    height: 20px;
    transition: background-color 0.4s;
  }
  
  /* Style the circle inside the span */
  .theme-toggle-container span:after {
    position: absolute;
    content: "";
    left: 3px;
    top: 3px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #ffffff; /* Circle color */
    transition: transform 0.4s;
  }
  .theme-toggle-container input:checked + span:after {
    background-color: #000000; /* Circle color */
  }
  /* Change the background color when the checkbox is checked */
  .theme-toggle-container input:checked + span {
    background-color: var(--primary-color); /* On state color */
  }
  
  /* Move the circle to the right when checked */
  .theme-toggle-container input:checked + span:after {
    transform: translateX(20px);
  }
